* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 2rem 0 2rem;
  justify-content: space-between;
  background-color: coral;
  color: white;
}

.container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#array {
  max-width: 80%;
  display: flex;
  align-items: flex-end;
  gap: 5px;
  flex-shrink: 2;
}

.element {
  background-color: cornflowerblue;
  padding-top: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.red {
  background-color: indianred;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}